.posts {
    width: 1000px;
    /* height: 100%; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
    .posts {
        width: 100vw;
        display: block;
    }
}