.header{
    width: 100vw;
    height: 10vw;
    margin-bottom: 20px;
    display: flex;
    
}
.h2{
    height: 100%;
    font-size: 300%;
    /* text-align: center; */
    /* font-family: 'Fredoka One', cursive; */
    margin:auto;
    margin-top: 20px;
}
.homeIcon{
    width: 40px !important;
    height: 40px !important;
    margin: 20px 0 0 20px;
    color: #a4a4a4;
}
@media screen and (max-width: 600px) {
    .header{
        height: 20vw;   
    }
}