.menuProfile {
    width: 20vw;
}
.AvatarWrap {
    height: 200px;
    width: 20vw;
}
.bgAvatar {
    width: 150px !important;
    height: 150px !important;
    margin-left: 25px;
    margin-top: 25px;
}
.userName {
    margin-left: 25%;
    font-size: 120%;
}
.add,
.postsLink {
    width: 20vw;
    display: flex;
    margin: 20px 0;
}
.LinkTo {
    margin: 10px;
}
.iconClass {
    width: 40px !important;
    height: 40px !important;
    color: black;
}
.buttonLogout {
    background-color: #a4a4a4;
}

@media screen and (max-width: 600px) {
    .menuProfile {
        width: 30vw;
    }
    .AvatarWrap {
        height: 150px;
        width: 30vw;
    }
    .bgAvatar {
        width: 100px !important;
        height: 100px !important;
        margin-left: 5px;
        margin-top: 15px;
    }
    .add,
    .postsLink {
        width: 30vw;
    }
    .buttonLogout {
        width: 88px;
    }
}
