.post {
    width: 400px;
    height: 100px;
    display: flex;
    background-color: #a4a4a4;
    border-radius: 10px;
    margin: 5px auto;
    /* margin-left: 25%; */
}
.avatar {
    margin: 15px;
    width: 40px;
    height: 40px;
}
.postContent {
    width: 330px;
}
.infop {
    height: 20px;
    margin: 0;
    padding: 10px;
}
.info {
    display: flex;
}
.postP {
    height: 40px;
    margin: 8px;
    overflow: auto;
}
.posttext {
    display: flex;
    align-self: flex-end;
}
.postTitle {
    font-weight: bold;
}
.posthead {
    height: 40px;
    display: flex;
    align-self: flex-start;
}
@media screen and (max-width: 600px) {
    .post {
        width: 70vw;
        height: 20vw;
    }
    .Avatar{
        width: 25px !important;
        height: 25px !important;
    }
    .avatar {
        width: 25px;
        height: 25px;
    }
    .postContent {
        width: 55vw;
    }
    .infop {
        height: 2vw;
        padding: 5px;
    }
    .info {
        display: flex;
    }
    .postP {
        height: 8vw;
    }
    .posthead {
        height: 7vw;
    }
}